* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 3rem;
}

main>img {
    max-width: 25%;
    border: 1px solid black;
    border-radius: 2rem;
}

.content{
    width: 50%;
    height: 100%;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3%;
}

[type="text"],[type="number"]{
    border-radius: 1rem;
    border: 1px solid gray;
    outline: none;
    padding-left: 2rem;
    font-size: 1.3rem;
}

.grid label{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form>div{
    margin-bottom: 3rem;
}

.grid{
    display: grid;
    grid-template-columns: 4rem auto;
    grid-template-rows:repeat( 4,3rem );
    gap: 4%;
}

span{
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

label+[type="radio"],label+[type="checkbox"]{
    margin-right: 1rem;
}


button{
    width: 50%;
    margin: 0rem auto ;
    height: 3rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    background-color: blue;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover{
    background-color: rgb(95, 95, 246);
    transform: scale(1.05);
}